[user]
	name = joshuahayesVCU
	email = josh.hayes121@icloud.com
[color]
    ui = auto
[core]
	excludesfile = /Users/josh/.gitignore_global
    editor = nvim
    autocrlf = input
	autofrlf = false
[init]
	defaultBranch = main
